name: deploy
author: lev.pozniakoff
description: deploy
inputs:
    compose_file:
        description: name of the docker-compose file
        required: true
        type: string
    compose_override_file:
        description: name of the docker-compose override file
        required: true
        type: string
        default: docker-compose.override.yml
    deployment_folder:
        description: folder on the server to deploy to
        required: true
        type: string
    ssh_host:
        description: SSH host
        required: true
        type: string
    ssh_user:
        description: SSH user
        required: true
        type: string
    ssh_private_key:
        description: SSH private key
        required: true
        type: string
runs:
  using: composite
  steps:
    - name: Copy files to server
      uses: appleboy/scp-action@v0.1.3
      with:
        host: ${{ inputs.ssh_host }}
        username: ${{ inputs.ssh_user }}
        key: ${{ inputs.ssh_private_key }}
        source: ${{ inputs.compose_override_file }}, ${{ inputs.compose_file }}
        target: "${{ inputs.deployment_folder }}/${{ github.event.repository.name }}/"
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ inputs.ssh_host }}
        username: ${{ inputs.ssh_user }}
        key: ${{ inputs.ssh_private_key }}
        script: |
          cd ~/.deploy/${{ github.event.repository.name }}
          docker compose -f ${{ inputs.compose_file }} -f ${{ inputs.compose_override_file }} stop
          docker compose -f ${{ inputs.compose_file }} -f ${{ inputs.compose_override_file }} rm -f
          docker rmi $(docker images -q | while read id; do docker ps -a --filter "ancestor=$id" -q | grep -q . || echo "$id"; done)
          docker compose -f ${{ inputs.compose_file }} -f ${{ inputs.compose_override_file }} pull --quiet
          docker compose -f ${{ inputs.compose_file }} -f ${{ inputs.compose_override_file }} up -d --no-build --remove-orphans
