name: Build Release Template

on:
  workflow_call:
    inputs:
      working-directory:
        description: The working directory for the build process
        required: false
        type: string
        default: ./
      app-name:
        description: The application name for the build
        required: true
        type: string
      runner:
        description: The runner environment for the build
        required: false
        type: string
        default: ubuntu-latest

jobs:
  build-release-push:
    runs-on: ${{ inputs.runner }}
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract Metadata for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.DOCKERHUB_USER }}/${{ inputs.app-name }}

      - name: Build/Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.working-directory }}
          file: ${{ inputs.working-directory }}/Dockerfile
          tags: ${{ secrets.DOCKERHUB_USER }}/${{ inputs.app-name }}:${{ github.sha }}
          push: true
